@import 'reset';
:root {
    --color: rgb(255, 211, 155);
    --itemSize: 60px;
}
#wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .util {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        margin-bottom: 10px;
        font-size: 16px;

        .time {

            .time_val {
                display: inline-block;
                font-size: 20px;
                font-weight: 700;
            }

            &.bounce {
                .time_val {
                    animation: bounce 0.3s linear alternate;
                }
            }

        }

        .level_val {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .stage {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 400px;
        padding: 2px;

        .item {
            display: block;
            width: var(--itemSize);
            height: var(--itemSize);
            margin: 1px;
            background: var(--color);
            cursor: pointer;
            border-radius: 5px;
        }
    }

    .game_end {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        font-weight: 700;
        text-transform: uppercase;
        color: red;
        overflow: hidden;
        -webkit-text-stroke: solid;
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 1px;

        span {
            display: block;
            min-width: 30px;
            min-height: 1px;
            transform: translateX(100%);
            opacity: 0;
            animation: endAni 1s linear alternate;
        }
        
        @for $i from 1 to 8 {
            span:nth-of-type(#{$i + 1}) {
                animation-delay: $i * 0.1s;
            }
        }
    }

}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes endAni {
    0% { transform: translateX(100%); opacity: 0; }
    10% { transform: translateX(-10%); opacity: 1; }
    15% { transform: translateX(0%); opacity: 1; }
    90% { transform: translateX(0%); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}